<div class="animal-details-container" *ngIf="animal">
  <div class="main-container">
    <div class="header-container mat-app-background">
      <h1>{{ animal.name }}</h1>
      <img
        class="image"
        src="https://material.angular.io/assets/img/examples/shiba2.jpg"
        alt="Photo of a Shiba Inu"
      />
    </div>

    <div class="quick-info-container">
      <div class="tab-row">
        <h2>Information</h2>
        <button mat-mini-fab color="accent" (click)="openAnimalDiaglog()">
          <mat-icon>edit</mat-icon>
        </button>
      </div>
      <mat-grid-list cols="2" rowHeight="2rem" class="grid">
        <mat-grid-tile>Type</mat-grid-tile>
        <mat-grid-tile>
          <h4>{{ animal.animalType.name }}</h4>
        </mat-grid-tile>
        <mat-grid-tile>Breed</mat-grid-tile>
        <mat-grid-tile>
          <h4>{{ animal.breed.name }}</h4>
        </mat-grid-tile>
        <mat-grid-tile>Gender</mat-grid-tile>
        <mat-grid-tile>
          <h4>{{ animal.animalGender }}</h4>
        </mat-grid-tile>
        <mat-grid-tile>Birth Date</mat-grid-tile>
        <mat-grid-tile>
          <h4>{{ animal.birthDate | date }} (2y)</h4>
        </mat-grid-tile>
        <mat-grid-tile>Coat Color</mat-grid-tile>
        <mat-grid-tile>
          <h4>{{ animal.coatColor }}</h4>
        </mat-grid-tile>
        <mat-grid-tile>Microchip No.</mat-grid-tile>
        <mat-grid-tile>
          <h4>{{ animal.microchipNumber }}</h4>
        </mat-grid-tile>
      </mat-grid-list>
    </div>

    <div class="quick-access-container">
      <div class="tab-row">
        <h2>Quick Access</h2>
      </div>
      <mat-grid-list cols="2" rowHeight="3rem" class="grid">
        <!-- add some buttons for 'gallery', 'vaccination document' -->
        <mat-grid-tile>
          <button mat-raised-button color="primary">Gallery</button>
        </mat-grid-tile>
        <mat-grid-tile>
          <button mat-raised-button color="primary">
            Vaccination Document
          </button>
        </mat-grid-tile>
      </mat-grid-list>
    </div>

    <mat-card class="calendar">
      <mat-calendar [(selected)]="selected"></mat-calendar>
    </mat-card>
  </div>
  <mat-tab-group class="tab-group">
    <mat-tab label="Health Notes">
      <div class="tab-row">
        <h2>Health Notes</h2>
        <button mat-mini-fab color="accent">
          <mat-icon>add</mat-icon>
        </button>
      </div>
      <div class="health-notes-list">
        <!-- <mat-list>
            <mat-list-item *ngFor="let note of animal.healthNotes">
              <h3 mat-line>{{note.date | date}}</h3>
              <p mat-line>{{note.note}}</p>
            </mat-list-item>
          </mat-list> -->
      </div>
    </mat-tab>
    <mat-tab label="Weight History">
      <button mat-raised-button color="primary">Add Weight Note</button>
    </mat-tab>
    <mat-tab label="Poop log">
      <button mat-raised-button color="primary">Add Poop log</button>
    </mat-tab>
    <mat-tab label="Important">
      <button mat-raised-button color="primary">Add Important Document</button>
    </mat-tab>
  </mat-tab-group>
  <div class="button-container">
    <button mat-raised-button color="warn">Delete Animal</button>
  </div>
</div>
