.grid{
    max-width: 25rem;
    width: 100%;
}

.image {
    width: 100%;
    max-width: 20rem;
}

.image:hover {
        cursor: pointer;
}

.main-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;

    .header-container {
        min-width: 20rem;


        .example-header-image:hover {
            cursor: pointer;

        }
        .example-header-image {
                height: 40px;
                width: 40px;
                border-radius: 50%;
                flex-shrink: 0;
                object-fit: cover;
        }
    }

    .quick-info-container {
        min-width: 20rem;
    }

    .quick-access-container {
        min-width: 20rem;
    }
}


.calendar {
    width: 20rem;
}

