@import '../styles.scss';

:host {
  display: flex;
  flex-direction: column;
  height: 100vh;
  height: -webkit-fill-available;
  margin: 0;
}


mat-toolbar {
  flex: 0 0 auto;
  height: 48px;
}

.example-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1; /* Take up all available height */
}

.example-sidenav {
  padding: 1rem;
  box-shadow: 3px 0 5px -1px rgba(0, 0, 0, 0.2);
}

.example-sidenav-content {
  flex: 1;
  overflow: auto; /* Enable scrolling for content inside the sidenav content */
  padding: 20px;
}

.example-spacer {
  flex: 1 1 auto;
}

.button-list {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 1rem;

  button {
    width: 100%;
  }
}

.container {
  display: flex;
  flex-direction: column;
  height: 100vh; 
  height: -webkit-fill-available;
}


.flex-grow-container {
  flex-grow: 1;
}